In [2]:
# data understanding 
# describing and getting a first impression of the data sets

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import datetime as dt
import os as os

In [4]:
bees = pd.read_csv("C:/Users/Jakob/Desktop/TA/bees.csv")
honey = pd.read_csv("C:/Users/Jakob/Desktop/TA/honey.csv")
weather = pd.read_csv("C:/Users/Jakob/Desktop/TA/weather.csv")

In [5]:
### data describing ###

In [8]:
bees.head()

,State,Date,Starting Colonies,Maximum Colonies,Lost Colonies,Added Colonies,Renovated Colonies,Percent Renovated,Varroa Mites (Percent),Other pests and parasites (Percent),Diseases (percent),Pesticides (percent),Other (percent),Unknown (percent),State_code,Latitude,Longitude
0,Alabama,2015-Q3,8500.0,9000.0,1400.0,160.0,260.0,3.0,63.1,70.6,NaN,2.6,2.2,17.7,AL,32.601011,-86.680736
1,Alabama,2015-Q4,8000.0,8000.0,610.0,80.0,60.0,1.0,3.1,6.4,0.2,0.2,2.8,1.9,AL,32.601011,-86.680736
2,Alabama,2016-Q1,7500.0,7500.0,1700.0,2100.0,90.0,1.0,24.2,22.0,4.3,8.1,2.4,11.3,AL,32.601011,-86.680736
3,Alabama,2015-Q2,7500.0,7500.0,860.0,1900.0,680.0,9.0,16.7,42.5,NaN,2.3,3.2,4.1,AL,32.601011,-86.680736
4,Alabama,2015-Q1,7000.0,7000.0,1800.0,2800.0,250.0,4.0,10.0,5.4,NaN,2.2,9.1,9.4,AL,32.601011,-86.680736

In [9]:
honey.head()

,State,Honey producing colonies (thousand),Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
0,Alabama,7,47.0,329,13,3.83,1260,2015
1,Arizona,26,49.0,1274,306,2.17,2765,2015
2,Arkansas,24,72.0,1728,121,2.02,3491,2015
3,California,275,30.0,8250,1485,2.04,16830,2015
4,Colorado,29,51.0,1479,399,2.18,3224,2015

In [10]:
# frequency of the records: 
# bees: quarterly
# honey: yearly

In [11]:
# missing data?
bees.isna().sum()
# there is missing data in the bees data set in several columns

State                                    0
Date                                     0
Starting Colonies                       45
Maximum Colonies                        45
Lost Colonies                           45
Added Colonies                          45
Renovated Colonies                      46
Percent Renovated                      171
Varroa Mites (Percent)                  50
Other pests and parasites (Percent)     82
Diseases (percent)                     156
Pesticides (percent)                   115
Other (percent)                         68
Unknown (percent)                       94
State_code                               0
Latitude                                 0
Longitude                                0
dtype: int64

In [12]:
# missing data?
honey.isna().sum()
# no missing data in honey data set

State                                  0
Honey producing colonies (thousand)    0
Yield per colony (pounds)              0
Production (1,000 pounds)              0
Stocks December 15  (1,000 pounds)     0
Average price per pound (dollars)      0
Value of production (1,000 dollars)    0
Year                                   0
dtype: int64

In [13]:
# data formats?
bees.dtypes

State                                   object
Date                                    object
Starting Colonies                      float64
Maximum Colonies                       float64
Lost Colonies                          float64
Added Colonies                         float64
Renovated Colonies                     float64
Percent Renovated                      float64
Varroa Mites (Percent)                 float64
Other pests and parasites (Percent)    float64
Diseases (percent)                     float64
Pesticides (percent)                   float64
Other (percent)                        float64
Unknown (percent)                      float64
State_code                              object
Latitude                               float64
Longitude                              float64
dtype: object

In [14]:
# data formats?
honey.dtypes

State                                   object
Honey producing colonies (thousand)      int64
Yield per colony (pounds)              float64
Production (1,000 pounds)                int64
Stocks December 15  (1,000 pounds)       int64
Average price per pound (dollars)      float64
Value of production (1,000 dollars)      int64
Year                                     int64
dtype: object

In [15]:
# Which state had the most producing colonies ever and in which year? Anything special about that state?

honey_production_descending = honey.sort_values(by=['Honey producing colonies (thousand)'], ascending=[False])
honey_production_descending

# We have to remove United States from Data set as the question asks for the most producing state

,State,Honey producing colonies (thousand),Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
209,United States,2812,55.8,156922,41022,1.970,309136,2019
167,United States,2803,54.4,152348,29091,2.166,333482,2018
83,United States,2775,58.3,161882,41253,2.075,335905,2016
251,United States,2706,54.5,147594,39715,2.030,299616,2020
125,United States,2669,55.3,147638,30577,2.156,318308,2017
...,...,...,...,...,...,...,...,...
119,Virginia,5,35.0,175,39,5.730,1003,2017
203,Virginia,5,39.0,195,49,7.510,1464,2019
13,Kentucky,5,46.0,230,55,3.860,888,2015
161,Virginia,4,40.0,160,35,6.830,1093,2018
139,Kentucky,4,41.0,164,34,5.420,889,2018

In [16]:
honey_production_descending = honey_production_descending.loc[~(honey['State'].isin(['United States']))]
# pandas.DataFrame.loc = Access a group of rows and columns by label(s) or a boolean array.
# ~ = delete the group of rows/columns

honey_production_descending

,State,Honey producing colonies (thousand),Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
151,North Dakota,530,72.0,38160,4579,1.88,71741,2018
193,North Dakota,520,65.0,33800,6422,1.40,47320,2019
235,North Dakota,495,78.0,38610,8108,1.60,61776,2020
25,North Dakota,490,74.0,36260,9428,1.80,65268,2015
67,North Dakota,485,78.0,37830,6809,1.73,65446,2016
...,...,...,...,...,...,...,...,...
119,Virginia,5,35.0,175,39,5.73,1003,2017
203,Virginia,5,39.0,195,49,7.51,1464,2019
13,Kentucky,5,46.0,230,55,3.86,888,2015
161,Virginia,4,40.0,160,35,6.83,1093,2018
139,Kentucky,4,41.0,164,34,5.42,889,2018

In [17]:
print(honey_production_descending.iloc[0,1])
# pandas.DataFrame.iloc = Purely integer-location based indexing for selection by position.

#North Dakota had the most Honey producing colonies ever (530 thousand) in the year 2018

530

In [18]:
#What state had the lowest price for honey? How low was it?

honey_price_ascending = honey.sort_values(by=['Average price per pound (dollars)'], ascending=[True])
honey_price_ascending

,State,Honey producing colonies (thousand),Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
175,Hawaii,16,80.0,1280,51,1.28,1638,2019
207,Wyoming,39,56.0,2184,306,1.35,2948,2019
193,North Dakota,520,65.0,33800,6422,1.40,47320,2019
189,Nebraska,39,52.0,2028,223,1.46,2961,2019
188,Montana,173,86.0,14878,5802,1.48,22019,2019
...,...,...,...,...,...,...,...,...
161,Virginia,4,40.0,160,35,6.83,1093,2018
148,New Jersey,13,31.0,403,165,7.35,2962,2018
203,Virginia,5,39.0,195,49,7.51,1464,2019
106,New Jersey,13,28.0,364,167,7.86,2861,2017
232,New Jersey,14,31.0,434,91,7.99,3468,2020

In [20]:
print(honey_price_ascending.iloc[0,5])
# #Hawaii had the lowest average price (1.28 dollars)

1.28

In [21]:
#What is the total Honey production for 2016?

honey_US_16 = honey.loc[(honey["Year"]==2016) & (honey["State"]=="United States")]

honey_US_16

,State,Honey producing colonies (thousand),Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
83,United States,2775,58.3,161882,41253,2.075,335905,2016

In [22]:
print(honey_US_16.iloc[0,3])
# 161882*1000 pounds ist die Gesamtmenge

161882

In [23]:
### data cleaning ###

In [24]:
bees.dtypes
# we have to change Date column into datetime format

bees["Date"]=pd.to_datetime(bees["Date"])

In [26]:
bees.isna().sum()

State                                    0
Date                                     0
Starting Colonies                       45
Maximum Colonies                        45
Lost Colonies                           45
Added Colonies                          45
Renovated Colonies                      46
Percent Renovated                      171
Varroa Mites (Percent)                  50
Other pests and parasites (Percent)     82
Diseases (percent)                     156
Pesticides (percent)                   115
Other (percent)                         68
Unknown (percent)                       94
State_code                               0
Latitude                                 0
Longitude                                0
dtype: int64

In [27]:
# Missing Values

#as there are 45 values missing for several columns, it might be that there are no values availible for 45 rows

bees_nan = bees.loc[bees['Starting Colonies'].isna()]
bees_nan

,State,Date,Starting Colonies,Maximum Colonies,Lost Colonies,Added Colonies,Renovated Colonies,Percent Renovated,Varroa Mites (Percent),Other pests and parasites (Percent),Diseases (percent),Pesticides (percent),Other (percent),Unknown (percent),State_code,Latitude,Longitude
18,Alabama,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AL,32.601011,-86.680736
26,Arizona,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AZ,34.168219,-111.930907
58,Arkansas,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AR,34.751928,-92.131378
95,California,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CA,37.271875,-119.270415
109,Colorado,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CO,38.997934,-105.550567
146,Connecticut,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CT,41.518783,-72.757507
170,Florida,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FL,27.975728,-83.833017
177,Georgia,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GA,32.678125,-83.222976
207,Hawaii,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HI,20.460000,-157.505000
233,Idaho,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ID,45.494576,-114.142430
273,Illinois,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IL,39.739318,-89.504139
291,Indiana,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IN,39.766219,-86.441277
307,Iowa,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IA,41.938317,-93.389798
339,Kansas,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KS,38.498779,-98.320078
352,Kentucky,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KY,37.822294,-85.768240
384,Louisiana,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LA,30.973377,-91.429910
420,Maine,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ME,45.218513,-69.014866
432,Maryland,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MD,38.806352,-77.268416
473,Massachusetts,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MA,42.062940,-71.718067
492,Michigan,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MI,44.943560,-86.415805
507,Minnesota,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MN,46.441859,-93.365515
532,Mississippi,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MS,32.585106,-89.877220
557,Missouri,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MO,38.304662,-92.437099
584,Montana,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MT,46.679800,-110.044783
618,Nebraska,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NE,41.500819,-99.680902
632,New Jersey,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NJ,40.143006,-74.731116
667,New Mexico,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NM,34.166232,-106.026068
677,New York,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NY,40.705626,-73.979680
700,North Carolina,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NC,35.214563,-79.891267
733,North Dakota,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ND,47.467882,-100.302266
757,Ohio,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OH,40.190362,-82.669252
796,Oklahoma,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OK,35.309765,-98.716559
816,Oregon,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,OR,44.141905,-120.538099
845,Pennsylvania,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PA,40.994593,-77.604698
855,South Carolina,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SC,33.625050,-80.947038
894,South Dakota,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SD,44.212699,-100.247164
919,Tennessee,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TN,35.830521,-85.978599
930,Texas,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TX,31.169336,-100.076842
967,Utah,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UT,39.499761,-111.547028
992,Vermont,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VT,43.871755,-72.447783
1017,Virginia,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,VA,38.003386,-79.458786
1042,Washington,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WA,38.899349,-77.014567
1067,West Virginia,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WV,38.920170,-80.181691
1092,Wisconsin,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WI,44.786297,-89.826705
1117,Wyoming,2019-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WY,43.000325,-107.554567

In [28]:
# output shows that as predicted there are no values availible for the april 2019 across all states

#we can drop these rows
bees = bees.loc[~(bees['Starting Colonies'].isna())]
bees

,State,Date,Starting Colonies,Maximum Colonies,Lost Colonies,Added Colonies,Renovated Colonies,Percent Renovated,Varroa Mites (Percent),Other pests and parasites (Percent),Diseases (percent),Pesticides (percent),Other (percent),Unknown (percent),State_code,Latitude,Longitude
0,Alabama,2015-07-01,8500.0,9000.0,1400.0,160.0,260.0,3.0,63.1,70.6,NaN,2.6,2.2,17.7,AL,32.601011,-86.680736
1,Alabama,2015-10-01,8000.0,8000.0,610.0,80.0,60.0,1.0,3.1,6.4,0.2,0.2,2.8,1.9,AL,32.601011,-86.680736
2,Alabama,2016-01-01,7500.0,7500.0,1700.0,2100.0,90.0,1.0,24.2,22.0,4.3,8.1,2.4,11.3,AL,32.601011,-86.680736
3,Alabama,2015-04-01,7500.0,7500.0,860.0,1900.0,680.0,9.0,16.7,42.5,NaN,2.3,3.2,4.1,AL,32.601011,-86.680736
4,Alabama,2015-01-01,7000.0,7000.0,1800.0,2800.0,250.0,4.0,10.0,5.4,NaN,2.2,9.1,9.4,AL,32.601011,-86.680736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,Wyoming,2020-01-01,4000.0,17000.0,140.0,450.0,60.0,NaN,NaN,NaN,0.1,0.0,0.8,1.7,WY,43.000325,-107.554567
1121,Wyoming,2020-04-01,17500.0,30000.0,2000.0,4400.0,2100.0,7.0,28.8,NaN,0.1,1.1,3.5,1.2,WY,43.000325,-107.554567
1122,Wyoming,2020-07-01,33000.0,34000.0,3600.0,640.0,7500.0,22.0,13.4,NaN,0.7,5.9,1.8,0.9,WY,43.000325,-107.554567
1123,Wyoming,2020-10-01,23000.0,25000.0,1600.0,160.0,380.0,2.0,19.2,0.0,NaN,2.4,2.2,1.4,WY,43.000325,-107.554567
1124,Wyoming,2021-01-01,13000.0,14500.0,1700.0,500.0,1200.0,8.0,NaN,NaN,NaN,0.0,3.3,7.9,WY,43.000325,-107.554567

In [29]:
# missing values for other columns
bees.isna().sum()

# output shows that for one row there is no value for renovated colonies
# we can take the average therefore

State                                    0
Date                                     0
Starting Colonies                        0
Maximum Colonies                         0
Lost Colonies                            0
Added Colonies                           0
Renovated Colonies                       1
Percent Renovated                      126
Varroa Mites (Percent)                   5
Other pests and parasites (Percent)     37
Diseases (percent)                     111
Pesticides (percent)                    70
Other (percent)                         23
Unknown (percent)                       49
State_code                               0
Latitude                                 0
Longitude                                0
dtype: int64

In [30]:
#find row with missing value
bees_nan_2 = bees.loc[bees['Renovated Colonies'].isna()]
bees_nan_2

,State,Date,Starting Colonies,Maximum Colonies,Lost Colonies,Added Colonies,Renovated Colonies,Percent Renovated,Varroa Mites (Percent),Other pests and parasites (Percent),Diseases (percent),Pesticides (percent),Other (percent),Unknown (percent),State_code,Latitude,Longitude
991,Vermont,2019-01-01,6500.0,6500.0,260.0,50.0,NaN,NaN,6.2,0.1,2.4,0.0,0.2,1.2,VT,43.871755,-72.447783

In [31]:
# calculate the average of Renovated Colonies for Vermont
bees_nan_2 = bees.loc[(bees['State'].isin(['Vermont'])) & (bees['Renovated Colonies'].notna())]
bees_nan_2 = bees_nan_2.groupby(['State']).agg(**{'Renovated Colonies_mean': ('Renovated Colonies', 'mean')}).reset_index()
bees_nan_2

     State  Renovated Colonies_mean
0  Vermont                90.869565

In [32]:
bees.loc[(bees['State'].isin(['Vermont'])) & (bees['Date'].isin(['2019-01-01']))]

,State,Date,Starting Colonies,Maximum Colonies,Lost Colonies,Added Colonies,Renovated Colonies,Percent Renovated,Varroa Mites (Percent),Other pests and parasites (Percent),Diseases (percent),Pesticides (percent),Other (percent),Unknown (percent),State_code,Latitude,Longitude
991,Vermont,2019-01-01,6500.0,6500.0,260.0,50.0,NaN,NaN,6.2,0.1,2.4,0.0,0.2,1.2,VT,43.871755,-72.447783

In [33]:
bees.iloc[952,6]

nan

In [34]:
bees.iloc[952,0]

'Vermont'

In [35]:
bees.iloc[952,1]

Timestamp('2019-01-01 00:00:00')

In [36]:
bees.iloc[952,6] = 90
bees.iloc[952,6]

90.0

In [37]:
bees.isna().sum()

State                                    0
Date                                     0
Starting Colonies                        0
Maximum Colonies                         0
Lost Colonies                            0
Added Colonies                           0
Renovated Colonies                       0
Percent Renovated                      126
Varroa Mites (Percent)                   5
Other pests and parasites (Percent)     37
Diseases (percent)                     111
Pesticides (percent)                    70
Other (percent)                         23
Unknown (percent)                       49
State_code                               0
Latitude                                 0
Longitude                                0
dtype: int64

In [38]:
# percent renovated states the relation of renovated colonies to the maximum colonies

# calculate values for percent renovated column
bees['Percent Renovated'] = (bees['Renovated Colonies']*100/bees['Maximum Colonies']).round()
bees

,State,Date,Starting Colonies,Maximum Colonies,Lost Colonies,Added Colonies,Renovated Colonies,Percent Renovated,Varroa Mites (Percent),Other pests and parasites (Percent),Diseases (percent),Pesticides (percent),Other (percent),Unknown (percent),State_code,Latitude,Longitude
0,Alabama,2015-07-01,8500.0,9000.0,1400.0,160.0,260.0,3.0,63.1,70.6,NaN,2.6,2.2,17.7,AL,32.601011,-86.680736
1,Alabama,2015-10-01,8000.0,8000.0,610.0,80.0,60.0,1.0,3.1,6.4,0.2,0.2,2.8,1.9,AL,32.601011,-86.680736
2,Alabama,2016-01-01,7500.0,7500.0,1700.0,2100.0,90.0,1.0,24.2,22.0,4.3,8.1,2.4,11.3,AL,32.601011,-86.680736
3,Alabama,2015-04-01,7500.0,7500.0,860.0,1900.0,680.0,9.0,16.7,42.5,NaN,2.3,3.2,4.1,AL,32.601011,-86.680736
4,Alabama,2015-01-01,7000.0,7000.0,1800.0,2800.0,250.0,4.0,10.0,5.4,NaN,2.2,9.1,9.4,AL,32.601011,-86.680736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,Wyoming,2020-01-01,4000.0,17000.0,140.0,450.0,60.0,0.0,NaN,NaN,0.1,0.0,0.8,1.7,WY,43.000325,-107.554567
1121,Wyoming,2020-04-01,17500.0,30000.0,2000.0,4400.0,2100.0,7.0,28.8,NaN,0.1,1.1,3.5,1.2,WY,43.000325,-107.554567
1122,Wyoming,2020-07-01,33000.0,34000.0,3600.0,640.0,7500.0,22.0,13.4,NaN,0.7,5.9,1.8,0.9,WY,43.000325,-107.554567
1123,Wyoming,2020-10-01,23000.0,25000.0,1600.0,160.0,380.0,2.0,19.2,0.0,NaN,2.4,2.2,1.4,WY,43.000325,-107.554567
1124,Wyoming,2021-01-01,13000.0,14500.0,1700.0,500.0,1200.0,8.0,NaN,NaN,NaN,0.0,3.3,7.9,WY,43.000325,-107.554567

In [39]:
bees.isna().sum()

State                                    0
Date                                     0
Starting Colonies                        0
Maximum Colonies                         0
Lost Colonies                            0
Added Colonies                           0
Renovated Colonies                       0
Percent Renovated                        0
Varroa Mites (Percent)                   5
Other pests and parasites (Percent)     37
Diseases (percent)                     111
Pesticides (percent)                    70
Other (percent)                         23
Unknown (percent)                       49
State_code                               0
Latitude                                 0
Longitude                                0
dtype: int64

In [40]:
# add new column Percent Lost

bees['Percent Lost']= (bees['Lost Colonies']*100/bees['Maximum Colonies']).round(0)

In [41]:
#add year column
bees["Year"]=bees["Date"].dt.year

#drop values of 2021, as only the years 2015-2020 are required
bees = bees.drop(bees[bees["Year"] == 2021].index)

#change Renovated Colonies to float
bees['Renovated Colonies'] = pd.to_numeric(bees['Renovated Colonies'], downcast='float', errors='coerce')

bees

,State,Date,Starting Colonies,Maximum Colonies,Lost Colonies,Added Colonies,Renovated Colonies,Percent Renovated,Varroa Mites (Percent),Other pests and parasites (Percent),Diseases (percent),Pesticides (percent),Other (percent),Unknown (percent),State_code,Latitude,Longitude,Percent Lost,Year
0,Alabama,2015-07-01,8500.0,9000.0,1400.0,160.0,260.0,3.0,63.1,70.6,NaN,2.6,2.2,17.7,AL,32.601011,-86.680736,16.0,2015
1,Alabama,2015-10-01,8000.0,8000.0,610.0,80.0,60.0,1.0,3.1,6.4,0.2,0.2,2.8,1.9,AL,32.601011,-86.680736,8.0,2015
2,Alabama,2016-01-01,7500.0,7500.0,1700.0,2100.0,90.0,1.0,24.2,22.0,4.3,8.1,2.4,11.3,AL,32.601011,-86.680736,23.0,2016
3,Alabama,2015-04-01,7500.0,7500.0,860.0,1900.0,680.0,9.0,16.7,42.5,NaN,2.3,3.2,4.1,AL,32.601011,-86.680736,11.0,2015
4,Alabama,2015-01-01,7000.0,7000.0,1800.0,2800.0,250.0,4.0,10.0,5.4,NaN,2.2,9.1,9.4,AL,32.601011,-86.680736,26.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119,Wyoming,2019-10-01,27000.0,28000.0,3300.0,100.0,490.0,2.0,27.6,12.3,3.2,0.0,4.3,13.2,WY,43.000325,-107.554567,12.0,2019
1120,Wyoming,2020-01-01,4000.0,17000.0,140.0,450.0,60.0,0.0,NaN,NaN,0.1,0.0,0.8,1.7,WY,43.000325,-107.554567,1.0,2020
1121,Wyoming,2020-04-01,17500.0,30000.0,2000.0,4400.0,2100.0,7.0,28.8,NaN,0.1,1.1,3.5,1.2,WY,43.000325,-107.554567,7.0,2020
1122,Wyoming,2020-07-01,33000.0,34000.0,3600.0,640.0,7500.0,22.0,13.4,NaN,0.7,5.9,1.8,0.9,WY,43.000325,-107.554567,11.0,2020
1123,Wyoming,2020-10-01,23000.0,25000.0,1600.0,160.0,380.0,2.0,19.2,0.0,NaN,2.4,2.2,1.4,WY,43.000325,-107.554567,6.0,2020

In [42]:
#group by state and year and calculate means for column 2 to 13
bees_mean=bees.groupby(["State", "Year"])['Starting Colonies', 'Maximum Colonies', 'Lost Colonies','Added Colonies', 'Renovated Colonies','Percent Renovated', 'Varroa Mites (Percent)', 'Other pests and parasites (Percent)', 'Diseases (percent)', 'Pesticides (percent)', 'Other (percent)', 'Unknown (percent)' ].mean()

#renaming columns
bees_mean= bees_mean.rename(columns={"Starting Colonies": "starting_colonies",
                           "Maximum Colonies": "maximum_colonies",
                           "Lost Colonies": "lost_colonies",
                           "Added Colonies": "added_colonies",
                           "Renovated Colonies": "renovated_colonies",
                           "Percent Renovated" : "percent_renovated",
                           "Varroa Mites (Percent)": "varroa_mites_percent",
                           "Other pests and parasites (Percent)": "other_pests_and_parasites",
                           "Diseases (percent)": "diseases_percent",
                           "Pesticides (percent)": "pesticides_percent",
                           "Other (percent)": "other_percent",
                           "Unknown (percent)": "unknown_percent",
                           "Percent Lost": "lost_percent",
                           })

bees_mean

C:\Users\Jakob\AppData\Local\Temp\ipykernel_5964\458076615.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  bees_mean=bees.groupby(["State", "Year"])['Starting Colonies', 'Maximum Colonies', 'Lost Colonies','Added Colonies', 'Renovated Colonies','Percent Renovated', 'Varroa Mites (Percent)', 'Other pests and parasites (Percent)', 'Diseases (percent)', 'Pesticides (percent)', 'Other (percent)', 'Unknown (percent)' ].mean()

              starting_colonies  maximum_colonies  lost_colonies  \
State   Year
Alabama 2015        7750.000000       7875.000000    1167.500000
        2016        7625.000000       7625.000000    1110.000000
        2017        7000.000000       7625.000000     982.500000
        2018        7375.000000       7750.000000    1000.000000
        2019        6166.666667       6166.666667     766.666667
...                         ...               ...            ...
Wyoming 2016       16550.000000      25125.000000    3035.000000
        2017       21125.000000      28000.000000    3475.000000
        2018       19250.000000      25750.000000    2280.000000
        2019       19166.666667      21500.000000    2183.333333
        2020       19375.000000      26500.000000    1835.000000

              added_colonies  renovated_colonies  percent_renovated  \
State   Year
Alabama 2015     1235.000000               312.5           4.250000
        2016      947.500000               210.0           2.750000
        2017      752.500000               567.5           8.000000
        2018     1177.500000              1202.5          15.750000
        2019      400.000000               200.0           3.333333
...                      ...                 ...                ...
Wyoming 2016     2447.500000               395.0           1.000000
        2017     3225.000000              1830.0           5.750000
        2018     1897.500000              1525.0           4.750000
        2019      866.666667              1330.0           5.000000
        2020     1412.500000              2510.0           7.750000

              varroa_mites_percent  other_pests_and_parasites  \
State   Year
Alabama 2015             23.225000                  31.225000
        2016             14.450000                  20.525000
        2017             32.400000                  13.900000
        2018             38.125000                  36.850000
        2019             34.833333                  24.666667
...                            ...                        ...
Wyoming 2016             25.966667                   1.925000
        2017             23.525000                   1.875000
        2018             22.425000                   2.775000
        2019             24.666667                   4.233333
        2020             20.466667                   0.000000

              diseases_percent  pesticides_percent  other_percent  \
State   Year
Alabama 2015          0.200000            1.825000       4.325000
        2016          1.600000            4.000000       4.275000
        2017          2.250000           13.075000       6.325000
        2018          1.300000           11.350000       7.300000
        2019          1.766667            1.800000       7.266667
...                        ...                 ...            ...
Wyoming 2016          1.250000            2.725000       1.950000
        2017          7.625000            3.275000       5.000000
        2018          1.750000            4.475000       2.225000
        2019          2.200000            0.733333       3.700000
        2020          0.300000            2.350000       2.075000

              unknown_percent
State   Year
Alabama 2015         8.275000
        2016         8.450000
        2017         5.925000
        2018         5.225000
        2019         8.900000
...                       ...
Wyoming 2016         0.600000
        2017         2.566667
        2018         2.500000
        2019         6.000000
        2020         1.300000

[270 rows x 12 columns]

In [43]:
bees_mean = bees_mean.round(2)

In [44]:
bees_mean[['starting_colonies', 'maximum_colonies', 'lost_colonies', 'added_colonies', 'renovated_colonies']] = bees_mean[['starting_colonies', 'maximum_colonies', 'lost_colonies', 'added_colonies', 'renovated_colonies']].round()

In [45]:
bees_mean

              starting_colonies  maximum_colonies  lost_colonies  \
State   Year
Alabama 2015             7750.0            7875.0         1168.0
        2016             7625.0            7625.0         1110.0
        2017             7000.0            7625.0          982.0
        2018             7375.0            7750.0         1000.0
        2019             6167.0            6167.0          767.0
...                         ...               ...            ...
Wyoming 2016            16550.0           25125.0         3035.0
        2017            21125.0           28000.0         3475.0
        2018            19250.0           25750.0         2280.0
        2019            19167.0           21500.0         2183.0
        2020            19375.0           26500.0         1835.0

              added_colonies  renovated_colonies  percent_renovated  \
State   Year
Alabama 2015          1235.0               312.0               4.25
        2016           948.0               210.0               2.75
        2017           752.0               568.0               8.00
        2018          1178.0              1202.0              15.75
        2019           400.0               200.0               3.33
...                      ...                 ...                ...
Wyoming 2016          2448.0               395.0               1.00
        2017          3225.0              1830.0               5.75
        2018          1898.0              1525.0               4.75
        2019           867.0              1330.0               5.00
        2020          1412.0              2510.0               7.75

              varroa_mites_percent  other_pests_and_parasites  \
State   Year
Alabama 2015                 23.22                      31.22
        2016                 14.45                      20.52
        2017                 32.40                      13.90
        2018                 38.12                      36.85
        2019                 34.83                      24.67
...                            ...                        ...
Wyoming 2016                 25.97                       1.92
        2017                 23.52                       1.88
        2018                 22.42                       2.78
        2019                 24.67                       4.23
        2020                 20.47                       0.00

              diseases_percent  pesticides_percent  other_percent  \
State   Year
Alabama 2015              0.20                1.83           4.32
        2016              1.60                4.00           4.28
        2017              2.25               13.08           6.32
        2018              1.30               11.35           7.30
        2019              1.77                1.80           7.27
...                        ...                 ...            ...
Wyoming 2016              1.25                2.72           1.95
        2017              7.62                3.28           5.00
        2018              1.75                4.47           2.22
        2019              2.20                0.73           3.70
        2020              0.30                2.35           2.08

              unknown_percent
State   Year
Alabama 2015             8.28
        2016             8.45
        2017             5.92
        2018             5.22
        2019             8.90
...                       ...
Wyoming 2016             0.60
        2017             2.57
        2018             2.50
        2019             6.00
        2020             1.30

[270 rows x 12 columns]

In [46]:
### honey ####

# Converting Units
# translate pounds into kilogras

honey

,State,Honey producing colonies (thousand),Yield per colony (pounds),"Production (1,000 pounds)","Stocks December 15 (1,000 pounds)",Average price per pound (dollars),"Value of production (1,000 dollars)",Year
0,Alabama,7,47.0,329,13,3.83,1260,2015
1,Arizona,26,49.0,1274,306,2.17,2765,2015
2,Arkansas,24,72.0,1728,121,2.02,3491,2015
3,California,275,30.0,8250,1485,2.04,16830,2015
4,Colorado,29,51.0,1479,399,2.18,3224,2015
...,...,...,...,...,...,...,...,...
247,West Virginia,6,46.0,276,58,3.89,1074,2020
248,Wisconsin,45,50.0,2250,855,3.26,7335,2020
249,Wyoming,38,40.0,1520,608,1.66,2523,2020
250,Other,33,42.0,1375,303,4.36,5995,2020
251,United States,2706,54.5,147594,39715,2.03,299616,2020

In [47]:
honey_kg=honey.copy() 
honey_kg.iloc[:,2]=honey.iloc[:,2] * 0.454 # pounds in kg
honey_kg.iloc[:,3:5]=honey.iloc[:,3:5]*1000 * 0.454 # 1000 pounds in kg
honey_kg.iloc[:,5]=honey.iloc[:,5] / 0.454 
honey_kg=honey_kg.rename(columns={"Honey producing colonies (thousand)" : "producing_colonies_thousand", 
                                  "Yield per colony (pounds)" : "yield_per_colony_kg" , 
                                  "Production (1,000 pounds)" : "production_kg", 
                                  "Stocks December 15 (1,000 pounds)" : "stocks_15_12_kg",
                                  "Average price per pound (dollars)" : "avg_price_per_kg",
                                  "Value of production (1,000 dollars)" : "production_value_1000$"
                                  })
honey_kg

,State,producing_colonies_thousand,yield_per_colony_kg,production_kg,"Stocks December 15 (1,000 pounds)",avg_price_per_kg,production_value_1000$,Year
0,Alabama,7,21.338,149366.0,5902.0,8.436123,1260,2015
1,Arizona,26,22.246,578396.0,138924.0,4.779736,2765,2015
2,Arkansas,24,32.688,784512.0,54934.0,4.449339,3491,2015
3,California,275,13.620,3745500.0,674190.0,4.493392,16830,2015
4,Colorado,29,23.154,671466.0,181146.0,4.801762,3224,2015
...,...,...,...,...,...,...,...,...
247,West Virginia,6,20.884,125304.0,26332.0,8.568282,1074,2020
248,Wisconsin,45,22.700,1021500.0,388170.0,7.180617,7335,2020
249,Wyoming,38,18.160,690080.0,276032.0,3.656388,2523,2020
250,Other,33,19.068,624250.0,137562.0,9.603524,5995,2020
251,United States,2706,24.743,67007676.0,18030610.0,4.471366,299616,2020

In [48]:
# rounding

honey_kg.yield_per_colony_kg = honey_kg.yield_per_colony_kg.round(2)

honey_kg.avg_price_per_kg = honey_kg.avg_price_per_kg.round(2)

In [49]:
honey_kg

,State,producing_colonies_thousand,yield_per_colony_kg,production_kg,"Stocks December 15 (1,000 pounds)",avg_price_per_kg,production_value_1000$,Year
0,Alabama,7,21.34,149366.0,5902.0,8.44,1260,2015
1,Arizona,26,22.25,578396.0,138924.0,4.78,2765,2015
2,Arkansas,24,32.69,784512.0,54934.0,4.45,3491,2015
3,California,275,13.62,3745500.0,674190.0,4.49,16830,2015
4,Colorado,29,23.15,671466.0,181146.0,4.80,3224,2015
...,...,...,...,...,...,...,...,...
247,West Virginia,6,20.88,125304.0,26332.0,8.57,1074,2020
248,Wisconsin,45,22.70,1021500.0,388170.0,7.18,7335,2020
249,Wyoming,38,18.16,690080.0,276032.0,3.66,2523,2020
250,Other,33,19.07,624250.0,137562.0,9.60,5995,2020
251,United States,2706,24.74,67007676.0,18030610.0,4.47,299616,2020

In [50]:
#drop United States rows
honey_kg = honey_kg.loc[~(honey_kg['State'].isin(['United States']))]

#drop rows called Other
honey_kg = honey_kg.loc[~(honey_kg['State'].isin(['Other']))]
honey_kg

,State,producing_colonies_thousand,yield_per_colony_kg,production_kg,"Stocks December 15 (1,000 pounds)",avg_price_per_kg,production_value_1000$,Year
0,Alabama,7,21.34,149366.0,5902.0,8.44,1260,2015
1,Arizona,26,22.25,578396.0,138924.0,4.78,2765,2015
2,Arkansas,24,32.69,784512.0,54934.0,4.45,3491,2015
3,California,275,13.62,3745500.0,674190.0,4.49,16830,2015
4,Colorado,29,23.15,671466.0,181146.0,4.80,3224,2015
...,...,...,...,...,...,...,...,...
245,Virginia,5,18.16,90800.0,24516.0,11.98,1088,2020
246,Washington,98,16.80,1646204.0,362292.0,5.59,9210,2020
247,West Virginia,6,20.88,125304.0,26332.0,8.57,1074,2020
248,Wisconsin,45,22.70,1021500.0,388170.0,7.18,7335,2020
249,Wyoming,38,18.16,690080.0,276032.0,3.66,2523,2020

In [51]:
### Join Honey and Bees Set ###

#apply inner merge
merge = pd.merge(honey_kg, bees_mean, how='inner', on=['State', 'Year'])
merge

,State,producing_colonies_thousand,yield_per_colony_kg,production_kg,"Stocks December 15 (1,000 pounds)",avg_price_per_kg,production_value_1000$,Year,starting_colonies,maximum_colonies,lost_colonies,added_colonies,renovated_colonies,percent_renovated,varroa_mites_percent,other_pests_and_parasites,diseases_percent,pesticides_percent,other_percent,unknown_percent
0,Alabama,7,21.34,149366.0,5902.0,8.44,1260,2015,7750.0,7875.0,1168.0,1235.0,312.0,4.25,23.22,31.22,0.20,1.83,4.32,8.28
1,Arizona,26,22.25,578396.0,138924.0,4.78,2765,2015,36000.0,36750.0,7025.0,7550.0,10150.0,26.75,34.72,19.77,1.78,13.63,9.52,6.00
2,Arkansas,24,32.69,784512.0,54934.0,4.45,3491,2015,18125.0,21125.0,3700.0,3775.0,1450.0,10.75,47.70,29.22,2.38,9.80,9.68,3.08
3,California,275,13.62,3745500.0,674190.0,4.49,16830,2015,990000.0,1200000.0,146000.0,124750.0,144250.0,13.00,38.20,15.45,7.38,15.45,11.55,4.47
4,Colorado,29,23.15,671466.0,181146.0,4.80,3224,2015,17125.0,22875.0,2600.0,2750.0,1260.0,5.00,37.83,7.15,7.58,9.90,4.53,4.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Virginia,5,18.16,90800.0,24516.0,11.98,1088,2020,7500.0,8000.0,1125.0,1845.0,635.0,7.75,27.25,10.10,1.60,2.00,5.30,3.32
236,Washington,98,16.80,1646204.0,362292.0,5.59,9210,2020,73750.0,98750.0,7125.0,4145.0,3488.0,3.25,14.25,20.20,11.80,3.65,2.43,2.50
237,West Virginia,6,20.88,125304.0,26332.0,8.57,1074,2020,7250.0,7750.0,690.0,632.0,945.0,12.25,22.10,5.80,2.23,1.70,2.90,1.87
238,Wisconsin,45,22.70,1021500.0,388170.0,7.18,7335,2020,42750.0,52750.0,4900.0,4618.0,4668.0,7.50,31.88,13.15,18.95,19.53,11.02,12.70
239,Wyoming,38,18.16,690080.0,276032.0,3.66,2523,2020,19375.0,26500.0,1835.0,1412.0,2510.0,7.75,20.47,0.00,0.30,2.35,2.08,1.30

In [52]:
# save merge as csv
merge.to_csv("C:/Users/Jakob/Desktop/TA/merge.csv")